body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}

header h1 {
    margin: 0;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline-block; /* リンクの間に余白を追加 */
    margin: 0 15px; /* リンクの間隔を調整 */
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

main {
    padding: 20px;
}

.toggle-container {
    margin-bottom: 20px; /* トグルスイッチの下に余白を追加 */
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

table, th, td {
    border: 1px solid #000;
    text-align: center;
    padding: 8px;
}

thead {
    background-color: #f0f0f0;
}

input[type="checkbox"] {
    transform: scale(1.8); /* チェックボックスの大きさを調整 */
}
