body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
}

header {
  background-color: #333;
  color: #fff;
  padding: 10px 0;
  text-align: center;
}

header h1 {
  margin: 0;
}

nav ul {
  list-style: none;
  padding: 0;
}

nav ul li {
  display: inline;
  margin: 0 10px;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.responsive-container {
  max-width: 100%;
  overflow-x: auto;
  text-align: center;
}

table {
  width: 100%;
  border-collapse: collapse;
}

table th, table td {
  border: 1px solid #ddd;
  padding: 8px;
}

table th {
  background-color: #f2f2f2;
  text-align: left;
}

button {
  display: inline-block;
  margin: 5px;
  padding: 10px;
  font-size: 16px;
  background-color: #333;
  color: white;
  border: none;
  cursor: pointer;
  width: 50px;
}

button:hover {
  background-color: #555;
}

#next-question-button {
  display: block;
  margin: 20px auto;
  padding: 15px 30px;
  font-size: 18px;
  background-color: #333;
  color: white;
  border: none;
  cursor: pointer;
  width: 80%;
  max-width: 300px;
}

#next-question-button:hover {
  background-color: #555;
}

.option-text {
  margin: 10px 0;
}
