body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
}

header {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
    text-align: center;
    position: fixed; /* ヘッダーを固定位置に */
    z-index: 1000; /* ヘッダーが他の要素の上に表示されるように */
}

header h1 {
  margin: 0;
}

nav ul {
  list-style: none;
  padding: 0;
}

nav ul li {
  display: inline;
  margin: 0 10px;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: calc(100vh - 60px); /* ヘッダーの高さを引いた分の高さを指定 */
    padding-top: 20px; /* コンテナの上に少しパディングを追加 */
}

iframe {
    border: none;
    width: 100%;
    max-width: 640px;
    height: 800px;
}
